.menu, .menu li ul{
position:absolute;
top:25;
left:0;
list-style-type: none;
margin: 0;
padding: 0;
width: 100px; /*WIDTH OF MAIN MENU ITEMS*/
border: none;
}

.menu li{
line-height: 12px;
position: relative;
border: none;
}

.menu li a{
background: url(MenuButton.gif) repeat-x top left;
font: bold 12px Dotum, DotumChe, SunSans-Regular, Verdana, Arial, sans-serif;
color:#FFFFFF; 
display: block;
width: auto;
padding: 5px 0px;
padding-left: 10px;
text-decoration: none;
}
	
.menu li ul{ /*SUB MENU STYLE*/
position: absolute;
width: 100px; /*WIDTH OF SUB MENU ITEMS*/
left: 0;
top: 0;
display: none;
}

.menu li ul li{
float: left;
}

.menu li ul a{
width: 90px; /*WIDTH OF SUB MENU ITEMS - 10px padding-left for A elements */
}

.menu .arrowdiv{
position: absolute;
right: 2px;
background: transparent url(arrow.gif) no-repeat center right;
}

.menu li a:active{
background-image: url(MenuButtonPushed.gif);
color:#FFFF00; 
}

.menu li a:hover{
color:#FFFF00; 
}

/* Holly Hack for IE \*/
* html .menu li { float: left; height: 1%; }
* html .menu li a { height: 1%; }
/* End */